@using TodoApp.Models
@model List<TodoTask>
@{
    ViewData["Title"] = "Задачи";
}

@*<div class="form_radio_group" role="group">
    <div class="form_radio_group-item">
        <input onclick="Show(0)" type="radio" name="btnradio" id="btnTasks" checked autocomplete="off" />
        <label for="btnTasks">Все задачи</label>
    </div>

    <div class="form_radio_group-item">
        <input type="radio" onclick="Show(1)" class="form_radio_group-item" name="btnradio" id="btnCompletedTasks" autocomplete="off" />
        <label for="btnCompletedTasks">Завершённые</label>
    </div>

</div>

<div id="AllTasks">
    @if (Model.Select(t => t.IsCompleted == false).Count() != 0)
    {
        <table class="simple-table">
            <tr><th>Задача</th><th></th><th></th></tr>
            @foreach (TodoTask task in Model)
            {
                @if (!task.IsCompleted)
                {
                    <tr>
                        <td width="80%">@task.TaskName</td>
                        <td width="10%" nowrap><button class="btn btn-outline-primary btn-sm btn_width" id="@task.Id" name="Выполнено" onclick="CompleteTask(this)" onmouseout="MouseOutBtn(this)">Выполнено</button></td>
                        <td width="10%" nowrap><button class="btn btn-outline-danger btn-sm btn_width" id="@task.Id" name="Удалить" onclick="DeleteTask(this)" onmouseout="MouseOutBtn(this)">Удалить</button></td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p class="mb-3">У вас нет задач.</p>
    }
</div>

<div id="EndedTasks" class="visually-hidden">
    @if (Model.Select(t => t.IsCompleted == true).Count() > 0)
    {
        <table class="simple-table">
            <tr><th>Задача</th><th></th><th></th></tr>
            @foreach (TodoTask task in Model)
            {
                @if (task.IsCompleted)
                {
                    <tr>
                        <td width="80%">@task.TaskName</td>
                        <td width="10%" nowrap><button class="btn btn-outline-primary btn-sm btn_width" id="@task.Id" name="Выполнено" onclick="CompleteTask(this)" onmouseout="MouseOutBtn(this)">Выполнено</button></td>
                        <td width="10%" nowrap><button class="btn btn-outline-danger btn-sm btn_width" id="@task.Id" name="Удалить" onclick="DeleteTask(this)" onmouseout="MouseOutBtn(this)">Удалить</button></td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <p class="mb-3">У вас нет завершённых задач.</p>
    }
</div>
*@

<div class="row">
    <div class="col-9">
        <div class="task_container">
            <div class="task_item">1</div>
            <div class="task_item">2</div>
            <div class="task_item">3</div>
            <div class="task_item">4</div>
            <div class="task_item">5</div>
            <div class="task_item">6</div>
            <div class="task_item">7</div>
            <div class="task_item">8</div>
        </div>
    </div>
    <div class="col-3">
        <div class="action_container">
            <div class="action_delete"><svg style="width: 70%; height: 70%; display: block; margin: auto;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 3L21 21M18 6L17.6 12M17.2498 17.2527L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6H4M16 6L15.4559 4.36754C15.1837 3.55086 14.4194 3 13.5585 3H10.4416C9.94243 3 9.47576 3.18519 9.11865 3.5M11.6133 6H20M14 14V17M10 10V17" stroke="#000000" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></div>
            <div class="action_complete"><svg style="width: 70%; height: 70%; display: block; margin: auto;" viewBox="0 0 1024 1024" fill="#000000" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M824.8 1003.2H203.2c-12.8 0-25.6-2.4-37.6-7.2-11.2-4.8-21.6-12-30.4-20.8-8.8-8.8-16-19.2-20.8-30.4-4.8-12-7.2-24-7.2-37.6V260c0-12.8 2.4-25.6 7.2-37.6 4.8-11.2 12-21.6 20.8-30.4 8.8-8.8 19.2-16 30.4-20.8 12-4.8 24-7.2 37.6-7.2h94.4v48H203.2c-26.4 0-48 21.6-48 48v647.2c0 26.4 21.6 48 48 48h621.6c26.4 0 48-21.6 48-48V260c0-26.4-21.6-48-48-48H730.4v-48H824c12.8 0 25.6 2.4 37.6 7.2 11.2 4.8 21.6 12 30.4 20.8 8.8 8.8 16 19.2 20.8 30.4 4.8 12 7.2 24 7.2 37.6v647.2c0 12.8-2.4 25.6-7.2 37.6-4.8 11.2-12 21.6-20.8 30.4-8.8 8.8-19.2 16-30.4 20.8-11.2 4.8-24 7.2-36.8 7.2z" fill=""></path><path d="M752.8 308H274.4V152.8c0-32.8 26.4-60 60-60h61.6c22.4-44 67.2-72.8 117.6-72.8 50.4 0 95.2 28.8 117.6 72.8h61.6c32.8 0 60 26.4 60 60v155.2m-430.4-48h382.4V152.8c0-6.4-5.6-12-12-12H598.4l-5.6-16c-12-33.6-43.2-56-79.2-56s-67.2 22.4-79.2 56l-5.6 16H334.4c-6.4 0-12 5.6-12 12v107.2zM432.8 792c-6.4 0-12-2.4-16.8-7.2L252.8 621.6c-4.8-4.8-7.2-10.4-7.2-16.8s2.4-12 7.2-16.8c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2L418.4 720c4 4 8.8 5.6 13.6 5.6s10.4-1.6 13.6-5.6l295.2-295.2c4.8-4.8 10.4-7.2 16.8-7.2s12 2.4 16.8 7.2c9.6 9.6 9.6 24 0 33.6L449.6 784.8c-4.8 4-11.2 7.2-16.8 7.2z" fill=""></path></g></svg></div>
        </div>
    </div>
</div>




@*<div class="btn-toolbar justify-content-between">
    <a class="btn btn-primary" role="button" asp-area="" asp-controller="Task" asp-action="Create">
        Добавить задачу
    </a>
</div>*@


